# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Xcode user data
.idea/
*.xcuserdata
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# Ignore build files
/build/
/DerivedData/

# API Key
API.plist

# Ignore sensitive files
jamorno.pub
jamorno
