# macOS system files
.DS_Store

# Xcode-specific
xcuserdata/

# Ignore API keys
API.plist

# Ignore Xcode files
*.xcuserstate
*.xcworkspace

# Ignore build files
build/
DerivedData/

#Ignore
jamorno
jamorno.pub
